<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Blog</a></h1>
    </div>

    <div>     
        <h2><a href="">First post</a></h2>
        <p>Published: 03.02.2023, 10:45</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae massa sit amet lacus tempor sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla dapibus nisl purus, eu consequat erat iaculis eu. Etiam a ultricies tellus, eu rutrum orci. Pellentesque molestie accumsan tincidunt. Sed eleifend sit amet nisl sit amet vestibulum. Duis rutrum dolor enim, quis faucibus felis volutpat eget. Aenean leo mauris, pretium et urna eu, congue pretium nibh. Suspendisse tortor lectus, ultricies sit amet mauris vel, aliquet tincidunt est. Morbi erat odio, feugiat vel facilisis sit amet, suscipit id justo. Nullam non risus porta, maximus justo gravida, imperdiet ante.</p>
    </div>

    <div>
        <h2><a href="">Gradient descent</a></h2>
        <p>Published: 03.02.2023, 10:48</p>
        <p>Gradient descent is generally attributed to Augustin-Louis Cauchy, who first suggested it in 1847. Jacques Hadamard independently proposed a similar method in 1907. Its convergence properties for non-linear optimization problems were first studied by Haskell Curry in 1944, with the method becoming increasingly well-studied and used in the following decades.</p>
    </div>
</body>
</html>